* {
    margin: 0;
    padding: 10;
    border: 5px;
    background-color: antiquewhite;
}
h3 {
    border: 2px;
    margin: 2px;
    background-color: rgb(244, 248, 247);
    border-radius: 2px;
}
#basic {
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(65, 65, 240);
}
#basic1 {
    padding: 5px;
    background-color: rgb(72, 72, 248);
}
#basic2 {
    padding: 5px;
    background-color: rgb(108, 108, 235);
}
#basic3 {
    padding: 5px;
    background-color: rgb(121, 121, 238);
}
#basic4 {
    padding: 5px;
    background-color: rgb(143, 143, 238);
}
#basic5 {
    padding: 5px;
    background-color: rgb(165, 165, 231);
}
#basic6 {
    padding: 5px;
    background-color: rgb(178, 178, 238);
}
#neutral{
    padding: 5px;
    background-color: rgb(71, 167, 114);
}
#acidic1 {
    padding: 5px;
    background-color: rgb(245, 44, 201);
}
#acidic2 {
    padding: 5px;
    background-color: rgb(235, 72, 199);
}
#acidic3 {
    padding: 5px;
    background-color: rgb(236, 91, 229);
}
#acidic4 {
    padding: 5px;
    background-color: rgb(240, 121, 220);
}
#acidic5 {
    padding: 5px;
    background-color: rgb(235, 151, 207);
}
#acidic6 {
    padding: 5px;
    background-color: rgb(241, 175, 222);
}
